/* skip to main function */
.skip a{
    position: absolute; /* so you wont be able to see it */
    top:-40px; /*invisible*/
    z-index: 1;
    color:black;
}

.skip a:focus { /* make it visible */
    position:absolute; 
    top: 0;
    color:black;
}

img:hover, img:focus {
    box-shadow: 10px 10px 5px #aabaf4;
}

img{
    padding-left: 10px;
    position: relative;
}

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 0;
  }
  
  .navigation  li.logo {
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
  }

#banner {
    /* background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?cs=srgb&dl=pexels-daniel-absi-952670.jpg&fm=jpg"); */
    background-image: url("https://thumbs.dreamstime.com/b/abstract-mood-series-website-background-color-images-high-resolution-abstract-mood-backgrounds-images-designed-use-websites-157859506.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 100px;
    width: 100%;
  }

  #banner .content h1 {
    font-size: 25px;
    border: 3px solid white;
    color: whitesmoke;
    position: relative;
    top: 20px;
    width: 610px;
    margin: 0 auto;
  }

  /* #banner .content h2 { 
    color: whitesmoke;
    position: center;
    padding: 40px 10px;
    width: 625px;
    margin: 0 auto;
  } */

  h3 { 
    color:#f58fd1;
    font-size: 26px;
    font-weight: 700;
    padding-left: 190px;
  } 
  
  h4 { 
    color:#76e7ab;
    font-size: 26px;
    font-weight: 700;
    padding-left: 100px;
  } 

  h5 { 
    color:#c490f8;
    font-size: 26px;
    font-weight: 700;
    padding-left: 90px;
  } 
  h6 { 
    color:#90c9f8;
    font-size: 22px;
    font-weight: 700;
    padding-left: 90px;
  } 
  
  h4 { 
    color:#76e7ab;
    font-size: 26px;
    font-weight: 700;
    padding-left: 100px;
  } 

  .byline {
    border-bottom: 1px solid rgb(116, 138, 245);
    border-top: 1px solid rgb(116, 138, 245);
    margin-left: 60px;
    color: #8fa5f5;
    position: relative;
    font-size: 20px;
    font-weight: 700;
  }

  .share {
    border: 1px dashed rgb(227, 184, 248);
    padding: 15px 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .share a {
    background: rgb(243, 195, 219);
    border: 1px solid rgb(244, 184, 232);
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
  }
  
  .share a:hover {
    background: rgb(213, 231, 251);
    border: 1px solid rgb(116, 177, 239);
    color: rgb(32, 77, 241);
  }

  .innojam img:hover{
    box-shadow: 10px 10px 5px #76e7ab;
  }
    
  .innojam img{
    padding: 0px;
  }

  .innojam p{
    font-size: 16px;
    color: grey;
  }


  .health img:hover{
    box-shadow: 10px 10px 5px #f8a1ed;
  }
    
  .health img{
    padding: 0px;
  }

  .health p{
    font-size: 16px;
    color: grey;
  }

  .design img:hover{
    box-shadow: 10px 10px 5px #c490f8;
  }
    
  .design img{
    padding: 0px;
  }

  .design p{
    font-size: 16px;
    color: grey;
  }