/* skip to main function */
.skip a {
  position: absolute;
  /* so you wont be able to see it */
  top: -40px;
  /*invisible*/
  z-index: 1;
  color: black;
}

.skip a:focus {
  /* make it visible */
  position: absolute;
  top: 0;
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
}

@keyframes fadein {
  from {
      opacity: 0%;
  }
  to {
      opacity: 100%;
  }
}
.row img {
  animation: 3s fadein;
}

.row p{
  padding: 20px;
}

.linked-image {
  text-decoration: none;
}

img:hover,
img:focus {
  box-shadow: 10px 10px 5px #8494cd;
}

img {
  padding-left: 10px;
  position: relative;
  border: solid white 3px;
  margin: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 0;
}

nav li.logo {
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
}

#banner {
  /* background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?cs=srgb&dl=pexels-daniel-absi-952670.jpg&fm=jpg"); */
  background-image: url("https://thumbs.dreamstime.com/b/abstract-mood-series-website-background-color-images-high-resolution-abstract-mood-backgrounds-images-designed-use-websites-157859506.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 160px;
  width: 100%;
}

#banner .content h1 {
  font-size: 25px;
  border: 3px solid white;
  color: white;
  position: relative;
  top: 20px;
  width: 610px;
  margin: 0 auto;
}

/* #banner .content h2 { 
    color: whitesmoke;
    position: center;
    padding: 40px 10px;
    width: 625px;
    margin: 0 auto;
  } */

h3 {
  color: #cc58a4;
  font-size: 26px;
  font-weight: 700;
  /* padding-left: 190px; */
}

h4 {
  color: #76e7ab;
  font-size: 26px;
  font-weight: 700;
  padding-left: 100px;
}

h5 {
  color: #c490f8;
  font-size: 26px;
  font-weight: 700;
  padding-left: 90px;
}

h6 {
  color: #90c9f8;
  font-size: 22px;
  font-weight: 700;
  padding-left: 90px;
}

h4 {
  color: #76e7ab;
  font-size: 26px;
  font-weight: 700;
  padding-left: 100px;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#byline {
  border-bottom: 1px solid rgb(116, 138, 245);
  border-top: 1px solid rgb(116, 138, 245);
  /* align-self: center;
  justify-self: center; */
  flex-wrap: wrap;
  color: #5375f1;
  /* position: relative; */
  font-size: 20px;
  font-weight: 700;
}

.share {
  border: 1px dashed rgb(227, 184, 248);
  padding: 15px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: rgb(236, 102, 169);
  border: 1px solid rgb(236, 102, 169);
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: rgb(213, 231, 251);
  border: 1px solid rgb(116, 177, 239);
  color: rgb(32, 77, 241);
}

.innojam img:hover {
  box-shadow: 10px 10px 5px #76e7ab;
}

.innojam img {
  padding: 0px;
}

.innojam p {
  font-size: 16px;
  color: grey;
}


.health img:hover {
  box-shadow: 10px 10px 5px #f8a1ed;
}

.health img {
  padding: 0px;
}

.health p {
  font-size: 16px;
  color: grey;
}

.consulting img:hover {
  box-shadow: 10px 10px 5px #c490f8;
}

.consulting img {
  padding: 0px;
}

.consulting p {
  font-size: 16px;
}

.consulting h3 {
  padding: 0px;
  color: black;
}


/* grid added */
.container {
  display: grid;
  grid-template-areas:
    'header'
    'aside'
    'main'
    'footer';
}

.grid-container {
  display: grid;
  grid-area: main;
  grid-template-areas:
    'subheader'
    'health'
    'innojam'
    'consulting'
    'design';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  overflow: hidden;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
}

.header {
  grid-area: header;
}

.subheader {
  grid-area: subheader;
}

.health {
  display: grid;
  grid-area: health;
}

.innojam {
  display: grid;
  grid-area: innojam
}

.consulting {
  display: grid;
  grid-area: consulting
}

.design {
  display: grid;
  grid-area: design;
}

.column {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
}


.row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.health-header {
  width: 500px;
  padding: 30px;
  color: #f58fd1;
  font-size: 26px;
  font-weight: 700;
}


.innojam-header {
  width: 500px;
  padding: 30px;
  color: #76e7ab;
  font-size: 26px;
  font-weight: 700;
}

.consulting-header {
  width: 500px;
  padding: 30px;
  color: #90c9f8;
  font-size: 22px;
  font-weight: 700;
}

.item1 {
  width: 600px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.item2 {
  width: 600px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.item3 {
  width: 600px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.item4 {
  width: 600px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

aside {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

/* Reference to https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside */
aside>p {
  margin: .5rem;
}

p {
  font-family: 'Fira Sans', sans-serif;
}

@media (prefers-reduced-motion) {
  header img {
      animation: none;
  }
}